<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
	<button id="enviar" onclick="ajax()">	
		Enviar
	</button>
	<div id="respuesta">
		dbshdkjsbn
	</div>
	<script>

		function ajax(){
			$.ajax({
			url:'ajax.php',
			type: 'POST',
			data:{id:"nombre"},
			success:function(res){
				const json = JSON.parse(res);
				if(json.code == 200){
					//datos de accso
				}
				$("#respuesta").html(json.msg);
			},
			error: function(error){
				console.log(error);
			}
		});
		}

		
	</script>
</body
</html>

{% comment %} prueba comit LFR {% endcomment %}