.slideRight { /* */
    position: relative;
    -moz-transition-property:  background-color, color, left;
    -moz-transition-duration: 60s;
    -webkit-transition-property:  background-color, color, left;
    -webkit-transition-duration: 60s;
    -o-transition-property:  background-color, color, left;
    -o-transition-duration: 60s;
   
  }
  
  .slideLeft { /*  */
    position: relative;
    -moz-transition-property: background-color,color, left;
    -moz-transition-duration: 60s;
    -webkit-transition-property: background-color,color, left;
    -webkit-transition-duration: 60s;
    -o-transition-property: background-color,color, left;
    -o-transition-duration: 60s;
    
    border: 1px solid #0000001c;
    padding: 0rem;
    box-shadow: 1px 1px 10px #00000045;
    background-color:#fff;

   
  }