/*****************
    - Header -
*****************/

/* Logo */


/* Title */


@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Open Sans:400,600,800");
h1,
h2,
h3,
h4,
h5,
h6,
div,
input

 {
    font-family: 'Poppins', sans-serif;
	margin: 0px;
}

body {
	background-color: #f1f2f3;
	font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-weight:200;
    font-size: 16px;
}
.cont div {
	/*visibility: hidden;	*/
	display: none;
}	

.mensaje div {
	visibility: hidden;	
	display: none;
}
.container-fluid,
.container {
	max-width: 1200px;
}

.card-container {
	padding: 100px 0px;
	-webkit-perspective: 1000;
	perspective: 1000;	
}

.profile-card-6 .profile-position {
	position: absolute;
	color: rgba(255, 255, 255, 0.4);
	left: 30px;
	top: 100px;
	transition: all 0.15s linear;
}

.profile-card-6 .profile-overview {
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    background: linear-gradient( 
0deg
 , rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0) );
    color: #fff;
    padding: -10px 2px -1px 10px;
	
}

.profile-card-6 .profile-overview h3 {
	font-weight: bold;
}

.profile-card-6 .profile-overview p {
	color: rgba(255, 255, 255, 0.7);
}

.profile-card-6:hover img {
	filter: brightness(80%);
}

.profile-card-6:hover .profile-position {
	left: 40px;	
}

.imgp {
		visibility: hidden;
		width: 60%;
		margin: 5%;
		/* display: none; */
	}

.margen div.row{
  padding: 20px; 
  margin: 20px; 
        margin-bottom: -35px;
 }
.profile-card-6 img {
		transition: all 0.15s linear;
		width: 30%;
		position: relative;
}
.divisorColores{
	margin: 6px auto auto auto;
    height: 1px;
	width: 100px;
    background: linear-gradient(90deg, rgb(216, 157, 109) 13%,
	 rgba(191,81,11,1) 42%, rgb(219, 164, 129) 100%); 
} 

.bold{
font-weight: bold;
}

.cards-container div {
	width: 100%;
	font-size: 14px;	
}	
.padd{
	margin: 15px 0 0 0;
}
.padds{
	margin: 15px 0 0 -15px;
}


.profile-card-6 {
	margin-bottom: 20px;
	background-color: rgb(17, 25, 51);
	box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
	position: relative;
	margin: 28px 21px 2px -2px;
	cursor: pointer;
	width: 100%;
	height: 52%;
	border-radius: 3%;
	box-shadow: inset -1px -1px 5px rgb(26 105 135 / 67%), 
	4px 3px 12px #051c33;	
}

.profile-card-6 .profile-name {
	background: linear-gradient( 140deg, rgba(6, 37, 105, 0.4) 50%,  rgba(0, 68, 255, 0) 50% );
    visibility: visible;
    height: 90%;
    background-color: rgb(8 59 129 / 74%);
    border-radius: 5px;
    color: #e9ecef;
    text-transform: uppercase;
    padding: 25px 0px;
    text-decoration: none;
    letter-spacing: 0.2em;
	font-size: 12px;
    font-weight: bold;
    box-shadow: inset -1px -1px 5px rgb(0 0 0 / 0%), 4px 7px 12px #000000c2;
	
}




@media (max-width: 1600px){
	 
	.padd{
		margin: 15px 0 0 20px;
	}
	
	.profile-card-6 .profile-overview {
		position: absolute;
		bottom: 4px;
		left: 0;
		right: 0;
		background: linear-gradient( 
	0deg
	 , rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0) );
		color: #fff;
		padding: -10px 2px -1px 10px;
	}
	.cards-container div {
		width: 100%;
		font-size: 14px;	
	}	
	.profile-card-6 {
		margin-bottom: 20px;
		max-width: 350px;
		background-color: rgb(17, 25, 51);
		box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
		overflow: hidden;
		position: relative;
		margin: 3px 10px 5px 20px;
		cursor: pointer;
		width: 90%;
		height: 50%;
		border-radius: 2%;
		box-shadow: inset -1px -1px 5px rgb(0 0 0 / 60%), 4px 7px 10px rgb(0 0 0 / 60%);
	}
	
	.profile-card-6 .profile-name {
		background: linear-gradient( 140deg, rgba(6, 37, 105, 0.4) 50%,  rgba(0, 68, 255, 0) 50% );
		visibility: visible;
		height: 90%;
		background-color: rgb(8 59 129 / 74%);
		border-radius: 5px;
		color: #e9ecef;
		text-transform: uppercase;
		padding: 25px 10px;
		text-decoration: none;
		letter-spacing: 0.1em;
		font-size: 12px;
		font-weight: bold;
		box-shadow: inset -1px -1px 5px rgb(0 0 0 / 0%), 4px 7px 12px #000000c2;
		
	}
}
@media (max-width: 1550px){
	
	.padd{
		margin: 15px 0 0 20px;
	}
	.profile-card-6 .profile-overview {
		position: absolute;
		bottom: 4px;
		left: 0;
		right: 0;
		background: linear-gradient( 
	0deg
	 , rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0) );
		color: #fff;
		padding: -10px 2px -1px 10px;
	}
	.cards-container div {
		width: 100%;
		font-size: 14px;	
	}	
	.profile-card-6 {
		margin-bottom: 20px;
		max-width: 350px;
		background-color: rgb(17, 25, 51);
		box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
		overflow: hidden;
		position: relative;
		margin: 3px 10px 5px 20px;
		cursor: pointer;
		width: 90%;
		height: 50%;
		border-radius: 2%;
		box-shadow: inset -1px -1px 5px rgb(0 0 0 / 60%), 4px 7px 10px rgb(0 0 0 / 60%);
	}
	
	.profile-card-6 .profile-name {
		background: linear-gradient( 140deg, rgba(6, 37, 105, 0.4) 50%,  rgba(0, 68, 255, 0) 50% );
		visibility: visible;
		height: 90%;
		background-color: rgb(8 59 129 / 74%);
		border-radius: 5px;
		color: #e9ecef;
		text-transform: uppercase;
		padding: 25px 10px;
		text-decoration: none;
		letter-spacing: 0.2em;
		font-size: 12px;
		font-weight: bold;
		box-shadow: inset -1px -1px 5px rgb(0 0 0 / 0%), 4px 7px 12px #000000c2;
		
	}
}
@media (max-width: 1500px){
	 
	.padd{
		margin: 15px 0 0 20px;
	}
	.padds{
		margin: 15px 0 0 15px;
	}
	.profile-card-6 .profile-overview {
		position: absolute;
		bottom: 4px;
		left: 0;
		right: 0;
		background: linear-gradient( 
	0deg
	 , rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0) );
		color: #fff;
		padding: -10px 2px -1px 10px;
	}
	.cards-container div {
		width: 100%;
		font-size: 14px;	
	}	
	.profile-card-6 {
		margin-bottom: 20px;
		max-width: 350px;
		background-color: rgb(17, 25, 51);
		box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
		overflow: hidden;
		position: relative;
		margin: 3px 10px 5px 20px;
		cursor: pointer;
		width: 90%;
		height: 50%;
		border-radius: 2%;
		box-shadow: inset -1px -1px 5px rgb(0 0 0 / 60%), 4px 7px 10px rgb(0 0 0 / 60%);
	}
	
	.profile-card-6 .profile-name {
		background: linear-gradient( 140deg, rgba(6, 37, 105, 0.4) 50%,  rgba(0, 68, 255, 0) 50% );
		visibility: visible;
		height: 90%;
		background-color: rgb(8 59 129 / 74%);
		border-radius: 5px;
		color: #e9ecef;
		text-transform: uppercase;
		padding: 25px 10px;
		text-decoration: none;
		letter-spacing: 0.1em;
		font-size: 12px;
		font-weight: bold;
		box-shadow: inset -1px -1px 5px rgb(0 0 0 / 0%), 4px 7px 12px #000000c2;
		
	}
}
@media (max-width: 1400px){
	


	.padd{
		margin: 15px 0 0 20px;
	}
	.padds{
		margin: 15px 0 0 15px;
	}
	.profile-card-6 .profile-overview {
		position: absolute;
		bottom: 4px;
		left: 0;
		right: 0;
		background: linear-gradient( 
	0deg
	 , rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0) );
		color: #fff;
		padding: -10px 2px -1px 10px;
	}
	.cards-container div {
		width: 100%;
		font-size: 10px;	
	}	
	.profile-card-6 {
		margin-bottom: 20px;
		max-width: 350px;
		background-color: rgb(17, 25, 51);
		box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
		overflow: hidden;
		position: relative;
		margin: 3px 10px 5px 20px;
		cursor: pointer;
		width: 90%;
		height: 50%;
		border-radius: 2%;
		box-shadow: inset -1px -1px 5px rgb(0 0 0 / 60%), 4px 7px 10px rgb(0 0 0 / 60%);
	}
	
	.profile-card-6 .profile-name {
		background: linear-gradient( 140deg, rgba(6, 37, 105, 0.4) 50%,  rgba(0, 68, 255, 0) 50% );
		visibility: visible;
		height: 90%;
		background-color: rgb(8 59 129 / 74%);
		border-radius: 5px;
		color: #e9ecef;
		text-transform: uppercase;
		padding: 20px 0px;
		text-decoration: none;
		letter-spacing: 0.1em;
		font-size: 9px;
		font-weight: bold;
		box-shadow: inset -1px -1px 5px rgb(0 0 0 / 0%), 4px 7px 12px #000000c2;
		
	}
}

@media (max-width: 1300px 1200px){
	 

	.padd{
		margin: 15px 0 0 20px;
	}
	.padds{
		margin: 15px 0 0 15px;
	}
	.profile-card-6 .profile-overview {
		position: absolute;
		bottom: 4px;
		left: 0;
		right: 0;
		background: linear-gradient( 
	0deg
	 , rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0) );
		color: #fff;
		padding: -10px 2px -1px 10px;
	}
	.cards-container div {
		width: 100%;
		font-size: 11px;	
	}	
	.profile-card-6 {
		margin-bottom: 20px;
		max-width: 350px;
		background-color: rgb(17, 25, 51);
		box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
		overflow: hidden;
		position: relative;
		margin: 3px 10px 5px 20px;
		cursor: pointer;
		width: 90%;
		height: 50%;
		border-radius: 2%;
		box-shadow: inset -1px -1px 5px rgb(0 0 0 / 60%), 4px 7px 10px rgb(0 0 0 / 60%);
	}
	
	.profile-card-6 .profile-name {
		background: linear-gradient( 140deg, rgba(6, 37, 105, 0.4) 50%,  rgba(0, 68, 255, 0) 50% );
		visibility: visible;
		height: 90%;
		background-color: rgb(8 59 129 / 74%);
		border-radius: 5px;
		color: #e9ecef;
		text-transform: uppercase;
		padding: 20px 0px;
		text-decoration: none;
		letter-spacing: 0.1em;
		font-size: 9px;
		font-weight: bold;
		box-shadow: inset -1px -1px 5px rgb(0 0 0 / 0%), 4px 7px 12px #000000c2;
		
	}
}


@media (max-width: 1000px){
	

	.padd{
		margin: 15px 0 0 20px;
	}
	.padds{
		margin: 15px 0 0 15px;
	}
	.profile-card-6 .profile-overview {
		position: absolute;
		bottom: 1px;
		left: 0;
		right: 0;
		background: linear-gradient( 
	0deg
	 , rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0) );
		color: #fff;
		padding: -10px 2px -1px 10px;
	}
	.cards-container div {
		width: 100%;
		font-size: 10px;	
	}	
	.profile-card-6 {
		margin-bottom: 20px;
		max-width: 350px;
		background-color: rgb(17, 25, 51);
		box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
		overflow: hidden;
		position: relative;
		margin: 3px 10px 5px 20px;
		cursor: pointer;
		width: 90%;
		height: 50%;
		border-radius: 2%;
		box-shadow: inset -1px -1px 5px rgb(0 0 0 / 60%), 4px 7px 10px rgb(0 0 0 / 60%);
	}
	
	.profile-card-6 .profile-name {
		background: linear-gradient( 140deg, rgba(6, 37, 105, 0.4) 50%,  rgba(0, 68, 255, 0) 50% );
		visibility: visible;
		height: 90%;
		background-color: rgb(8 59 129 / 74%);
		border-radius: 5px;
		color: #e9ecef;
		text-transform: uppercase;
		padding: 20px 0px;
		text-decoration: none;
		letter-spacing: 0.1em;
		font-size: 9px;
		font-weight: bold;
		box-shadow: inset -1px -1px 5px rgb(0 0 0 / 0%), 4px 7px 12px #000000c2;
		
	}
}


@media (max-width: 900px){
	
	.cards-container div {
			/*visibility: hidden;	*/
			display: none;	
	}	
	.mensaje div {
		visibility: hidden;	
		display: none;
	}
	.cont div {
		display: inherit;
		width: 100%;
		font-size: 12px;
	}
	.stilo div {
		margin: auto auto 5px auto;
	}

	

	.profile-card-6 {
		margin-bottom: 20px;
		max-width: 350px;
		background-color: rgb(17, 25, 51);
		box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
		overflow: hidden;
		position: relative;
		margin: 3px 10px 5px 20px;
		cursor: pointer;
		width: 90%;
		height: 50%;
		border-radius: 2%;
		box-shadow: inset -1px -1px 5px rgb(0 0 0 / 60%), 4px 7px 10px rgb(0 0 0 / 60%);
	}
	
	.profile-card-6 .profile-name {
		background: linear-gradient( 140deg, rgba(6, 37, 105, 0.4) 50%,  rgba(0, 68, 255, 0) 50% );
		visibility: visible;
		height: 90%;
		background-color: rgb(8 59 129 / 74%);
		border-radius: 5px;
		color: #e9ecef;
		text-transform: uppercase;
		padding: 20px 0px;
		text-decoration: none;
		letter-spacing: 0.1em;
		font-size: 12px;
		font-weight: bold;
		box-shadow: inset -1px -1px 5px rgb(0 0 0 / 0%), 4px 7px 12px #000000c2;
		
	}
 
	
	
}


@media (max-width: 450px){
	
	.cards-container div {
			/*visibility: hidden;	*/
			display: none;	
	}	
	.mensaje div {
		visibility: hidden;	
		display: none;
	}
	.cont div {
		display: inherit;
		width: 100%;
		font-size: 12px;
	}
	.stilo div {
		margin: 12px 30px 2px 10px;
		padding: 0px;
	}

	.divisorColores{
	/*visibility: hidden;	*/
	display: none;
	} 

	.profile-card-6 {
		margin-bottom: 20px;
		max-width: 350px;
		background-color: rgb(17, 25, 51);
		box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
		overflow: hidden;
		position: relative;
		margin: 3px 10px 5px 20px;
		cursor: pointer;
		width: 90%;
		height: 50%;
		border-radius: 2%;
		box-shadow: inset -1px -1px 5px rgb(0 0 0 / 60%), 4px 7px 10px rgb(0 0 0 / 60%);
	}
	
	.profile-card-6 .profile-name {
		background: linear-gradient( 140deg, rgba(6, 37, 105, 0.4) 50%,  rgba(0, 68, 255, 0) 50% );
		visibility: visible;
		height: 90%;
		background-color: rgb(8 59 129 / 74%);
		border-radius: 5px;
		color: #e9ecef;
		text-transform: uppercase;
		padding: 20px 0px;
		text-decoration: none;
		letter-spacing: 0.1em;
		font-size: 12px;
		font-weight: bold;
		box-shadow: inset -1px -1px 5px rgb(0 0 0 / 0%), 4px 7px 12px #000000c2;
		
	}
 
	
	
}

@media (max-width: 400px){
	
	.cards-container div {
			/*visibility: hidden;	*/
			display: none;	
	}	
	.mensaje div {
		visibility: hidden;	
		display: none;
	}
	.cont div {
		display: inherit;
		width: 100%;
		font-size: 12px;
	}
	.stilo div {
		margin: 12px 30px 2px 5px;
		padding: 0px;
	}

	.divisorColores{
	/*visibility: hidden;	*/
	display: none;
	} 

	.profile-card-6 {
		margin-bottom: 20px;
		max-width: 350px;
		background-color: rgb(17, 25, 51);
		box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
		overflow: hidden;
		position: relative;
		margin: 3px 10px 5px 20px;
		cursor: pointer;
		width: 90%;
		height: 50%;
		border-radius: 2%;
		box-shadow: inset -1px -1px 5px rgb(0 0 0 / 60%), 4px 7px 10px rgb(0 0 0 / 60%);
	}
	
	.profile-card-6 .profile-name {
		background: linear-gradient( 140deg, rgba(6, 37, 105, 0.4) 50%,  rgba(0, 68, 255, 0) 50% );
		visibility: visible;
		height: 90%;
		background-color: rgb(8 59 129 / 74%);
		border-radius: 5px;
		color: #e9ecef;
		text-transform: uppercase;
		padding: 20px 0px;
		text-decoration: none;
		letter-spacing: 0.1em;
		font-size: 12px;
		font-weight: bold;
		box-shadow: inset -1px -1px 5px rgb(0 0 0 / 0%), 4px 7px 12px #000000c2;
		
	}
 
	
	
}
@media  (max-width: 300px){
	
	.cards-container div {
		visibility: hidden;
		display: none;	
}	
	
.cont div {
	visibility: hidden;
	display: none;		
}

.mensaje div {
	display: inherit;
	visibility: inherit;
	width: 100%;

font-size: 12px;


}

}


















