<head>
    <link rel="stylesheet" href="card/nuevo.css">
    <meta name="viewport" content="width=device-width"/>
    
</head>
<style>
    .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Versión sin prefijo, actualmente
                                      compatible con Chrome y Opera */
    }
</style>
<div class=" mensaje">
    <div class="col-md-12" data-animate="ts-fadeInUp" data-ts-delay=".3s">
        <div class="ts-title text-center">
            <h2  style="color:#c56122;"><b>"Para visualizar nuestro equipo, debe ingresar desde una pantalla más grande"</b></h2>
            <br>
            <h5  style="color:#333231;"><b>Ver en una pantalla más grande</b></h5>
        </div>
    </div>
    
    

</div>
<div class="cards-container noselect">
        <div class="row">
    
            <div class="col-md-12" data-animate="ts-fadeInUp" data-ts-delay=".3s">
                <div class="ts-title text-center">
                    <h2  style="color:#c56122;"><b>Conoce una parte nuestro equipo</b></h2>
                </div>
            </div>
            
    
            <div class="col-md-12">
            <div class="margen">
                <div class="row " >
                
                   

                    <div class="col-md-3" data-animate="ts-fadeInUp" data-ts-delay=".1s">
                    
                            <div class="profile-card-6 imgp" > <img src="assets/img/team/user4.png" class="img img-responsive">
                                <div class="profile-overview">
                                    <div class="profile-name text-center" ><a >Joaquín  Alcántar  Hernández</a></div>
                                </div>
                                
                            </div>
                       
                        <div class="text-center padd"   >
                            <span style="color:#132035; " class="wrapper bold noselect" ><a href="https://www.linkedin.com/in/joaquín-alcántar-hernández/" target="_blank" ><img src="assets/img/team/linkedin.png" class="img img-responsive" width="20px" style="margin: 0px 10px 3px -4px;" ></a><b >Director Ejecutivo</b></span>
                                 <hr class="divisorColores">
                        
                            </div>   
                    </div>
                    <div class="col-md-3" data-animate="ts-fadeInUp" data-ts-delay=".1s" style="pointer-events: none;">
                            <div class="profile-card-6 imgp"><img src=" assets/img/team/ignacio.jpg" class="img img-responsive">
                                <div class="profile-overview">
                                    <div class="profile-name text-center"><a>Antonio Mendoza Laurel</a></div>
                                </div>
                                
                            </div>
                            <div class="text-center padd" ><span style="color:#132035;" class="wrapper bold noselect"><b>Departamento Jurídico </b></span>
                                <hr class="divisorColores">
                            </div>
                        </div>

                    <div class="col-md-3" data-animate="ts-fadeInUp" data-ts-delay=".1s" style="pointer-events: none;">
                        <div class="profile-card-6 imgp "><img src="assets/img/team/ignacio.jpg" class="img img-responsive">
                            <div class="profile-overview">
                                <div class="profile-name text-center"><a>Ignacio Mota Cruz</a></div>
                            </div>
                           
                        </div> 
                        <div class="text-center padd"><span style="color:#132035;" class="wrapper bold noselect"><b>Departamento de Seguridad y Auditoría Informática</b></span>
                            <hr class="divisorColores">
                        </div>
                    </div>
                  
                      
                  
                        <div class="col-md-3" data-animate="ts-fadeInUp" data-ts-delay=".1s" style="pointer-events: none;">
                            <div class="profile-card-6 imgp"><img src="assets/img/team/marco.jpg" class="img img-responsive">
                                <div class="profile-overview">
                                    <div class="profile-name text-center"><a>Marco Antonio Pacheco Alvarez</a></div>
                                </div>
                                
                            </div>
                            <div class="text-center padd" ><span style="color:#132035;" class="wrapper bold noselect"><b>Departamento de Seguridad Informática</b></span>
                            <hr class="divisorColores">
                            </div>
                        </div>        
                </div>
            </div>
                <div class="row " style="padding: 20px; margin: 20px; ">
                 

                    <div class="col-md-3" data-animate="ts-fadeInUp" data-ts-delay=".1s" style="pointer-events: none;">
                        <div class="profile-card-6 imgp"><img src="assets/img/team/josue.jpg" class="img img-responsive" >
                            <div class="profile-overview">
                                <div class="profile-name text-center"><a>Josué René Orozco Baeza</a></div>
                            </div>
                            
                        </div>
                        <div class="text-center padd" ><span style="color:#132035;" class="wrapper bold noselect" ><b>Departamento de Infraestructura en Redes</b></span>
                        <hr class="divisorColores">
                    </div>
                       
                    </div>
    
                    <div class="col-md-3" data-animate="ts-fadeInUp" data-ts-delay=".1s" style="pointer-events: none;">
                        <div class="profile-card-6 imgp"><img src="assets/img/team/daniel.jpg" class="img img-responsive">
                            <div class="profile-overview">
                                <div class="profile-name text-center"><a>Daniel Barcenas Acosta</a></div> 
                      
                            </div>
                           
                        </div>
                        <div class="text-center padd"><span style="color:#132035;" class="wrapper bold noselect"><b>Departamento de Administración de Sistemas Informáticos</b></span>
                            <hr class="divisorColores">
                        </div>
                    </div>
                    

                    <div class="col-md-3" data-animate="ts-fadeInUp" data-ts-delay=".1s" style="pointer-events: none;">
                        <div class="profile-card-6 imgp"><img src="assets/img/team/lilia.jpg" class="img img-responsive">
                            <div class="profile-overview">
                                <div class="profile-name text-center"><a>Lilia Tovar Pantoja</a></div>
                            </div>
                           
                        </div>
                        <div class="text-center padd"><span style="color:#132035;" class="wrapper bold noselect"><b>Departamento de Servicios Tecnológicos</b></span>
                         <hr class="divisorColores">
                         </div>
                    </div>
                    
        

                    <div class="col-md-3" data-animate="ts-fadeInUp" data-ts-delay=".1s" style="pointer-events: none;">
                        <div class="profile-card-6 imgp" ><img src="assets/img/team/chelsea.jpg" class="img img-responsive">
                            <div class="profile-overview">
                                <div class="profile-name text-center"><a>Chelsea Guadalupe Leal Corona</a></div>
                            </div>
                          
                            
                        </div>
                        <div class="text-center padd"><span style="color:#132035;" class="wrapper bold noselect"><b>Departamento de Administración y Cobranza</b></span>
                         <hr class="divisorColores">
                      </div>
                    </div>


                    
            

                   
    
                </div>

               
            </div>
    
        </div>
  
    </div>



    <!--     ___________________________________________________________ -->


    <div class="cards-container cont noselect">
        <div class="row"></div>
    
            <div class="col-md-12" data-animate="ts-fadeInUp" data-ts-delay=".3s">
                <div class="ts-title text-center">
                    <h2  style="color:#c56122;"><b>Conoce una parte nuestro equipo  </b></h2>
                </div>
            </div>
            
            <div class="col-12">
          
                <div class="row  stilo "  >
                
                   

                    <div class="col-md-6" data-animate="ts-fadeInUp" data-ts-delay=".1s"  >
                    
                            <div class="profile-card-6 imgp"> <img src="assets/img/team/user4.png" class="img img-responsive">
                                <div class="profile-overview">
                                    <div class="profile-name text-center noselect"><a>Joaquín  Alcántar  Hernández</a></div>
                                </div>
                                
                            </div>
                       
                        <div class="text-center padd" >
                            <span style="color:#132035; " class="wrapper bold "><a href="https://www.linkedin.com/in/joaquín-alcántar-hernández/" target="_blank"><img src="assets/img/team/linkedin.png" class="img img-responsive" width="20px" style="margin: 0px 10px 3px -4px;" ></a><b>Director Ejecutivo</b></span>
                             <hr class="divisorColores">
                            </div>  
                    </div>
                    
                    
                    <div class="col-md-6" data-animate="ts-fadeInUp" data-ts-delay=".1s" style="pointer-events: none;">
                        <div class="profile-card-6 imgp "><img src="assets/img/team/ignacio.jpg" class="img img-responsive">
                            <div class="profile-overview">
                                <div class="profile-name text-center"><a>Antonio Mendoza Laurel</a></div>
                            </div>
                           
                        </div> 
                        <div class="text-center padd"><span style="color:#132035;" class="wrapper bold noselect"><b>Departamento Jurídico</b></span>
                        <hr class="divisorColores">
                    </div>
                    </div>

                    <div class="col-md-6" data-animate="ts-fadeInUp" data-ts-delay=".1s" style="pointer-events: none;">
                        <div class="profile-card-6 imgp "><img src="assets/img/team/ignacio.jpg" class="img img-responsive">
                            <div class="profile-overview">
                                <div class="profile-name text-center"><a>Ignacio Mota Cruz</a></div>
                            </div>
                           
                        </div> 
                        <div class="text-center padd"><span style="color:#132035;" class="wrapper bold noselect"><b>Departamento de Seguridad y Auditoría</b></span>
                        <hr class="divisorColores">
                    </div>
                    </div>

                    <div class="col-md-6" data-animate="ts-fadeInUp" data-ts-delay=".1s" style="pointer-events: none;">
                        <div class="profile-card-6 imgp"><img src="assets/img/team/marco.jpg" class="img img-responsive">
                            <div class="profile-overview">
                                <div class="profile-name text-center"><a>Marco Antonio Pacheco Alvarez</a></div>
                            </div>
                            
                        </div>
                        <div class="text-center padd" ><span style="color:#132035;" class="wrapper bold noselect"><b>Departamento de Seguridad Informática</b></span>
                        <hr class="divisorColores">
                
                    </div>
                    </div>
                
                    <div class="col-md-6" data-animate="ts-fadeInUp" data-ts-delay=".1s" style="pointer-events: none;">
                        <div class="profile-card-6 imgp"><img src="assets/img/team/josue.jpg" class="img img-responsive">
                            <div class="profile-overview">
                                <div class="profile-name text-center"><a>Josué René Orozco Baeza</a></div>
                            </div>
                            
                        </div>
                        <div class="text-center padd" ><span style="color:#132035;" class="wrapper bold noselect"><b>Departamento de Infraestructura en Redes</b></span>
                        <hr class="divisorColores">
                    </div>
                       
                    </div>

                    <div class="col-md-6" data-animate="ts-fadeInUp" data-ts-delay=".1s" style="pointer-events: none;">
                        <div class="profile-card-6 imgp"><img src="assets/img/team/daniel.jpg" class="img img-responsive">
                            <div class="profile-overview">
                                <div class="profile-name text-center"><a>Daniel Barcenas Acosta</a></div> 
                      
                            </div>
                           
                        </div>
                        <div class="text-center padd"><span style="color:#132035;" class="wrapper bold noselect"><b>Departamento de Administración de Sistemas Informáticos</b></span>
                        <hr class="divisorColores">
                    </div>
                    </div>
                    

                    <div class="col-md-6" data-animate="ts-fadeInUp" data-ts-delay=".1s" style="pointer-events: none;">
                        <div class="profile-card-6 imgp"><img src="assets/img/team/lilia.jpg" class="img img-responsive">
                            <div class="profile-overview">
                                <div class="profile-name text-center"><a>Lilia Tovar Pantoja</a></div>
                            </div>
                           
                        </div>
                        <div class="text-center padd"><span style="color:#132035;" class="wrapper bold noselect"><b>Departamento de Servicios Tecnológicos</b></span>
                        <hr class="divisorColores">
                    </div>
                    </div>
                    
        

                    <div class="col-md-6" data-animate="ts-fadeInUp" data-ts-delay=".1s" style="pointer-events: none;">
                        <div class="profile-card-6 imgp" ><img src="assets/img/team/chelsea.jpg" class="img img-responsive">
                            <div class="profile-overview">
                                <div class="profile-name text-center"><a>Chelsea Guadalupe Leal Corona</a></div>
                            </div>
                          
                            
                        </div>
                        <div class="text-center padd"><span style="color:#132035;" class="wrapper bold noselect"><b>Departamento de Administración y Cobranza</b></span>
                        <hr class="divisorColores">
                    </div>
                    </div>
                  
        
                    
                </div>
            </div>
    </div>
    <!--________________________________________       -->
    
