* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}


.container .buscador {
  margin: auto;
  color: white;
}

.container .buscador h1 {
  font-size: 3rem;
  margin-bottom: 5px;
}

.container .buscador h1 span {
  color: black;
}

.container .buscador h1 span:hover {
  color: yellow;
}
       
       
       
       .container .buscador p {
        margin-bottom: 1rem;
      }
      
     .container .buscador input[type="text"] {
      min-width: 400px;
      padding: 0.5rem;
      padding-left: 1.25rem;
      border: none;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      margin-right: 0;
    }
    
   .container .buscador input[type="button"] {
    padding: 0.5rem 1.5rem 0.5rem 1rem;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background: black;
    color: white;
    margin-left: -5px;
    transition: all 0.1s;
  }
  
  #nav-bar {
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    padding: 0.5rem;
    color: white;
    display: flex;
    justify-content: space-between;
  }
  
  #nav-bar .logo {
    margin: auto 0 auto 10px;
  }
  
  #nav-bar .logo:hover {
    cursor: pointer;
  }
  
  #nav-bar .logo span {
    color: yellow;
  }
  
  #nav-bar form {
    margin: auto 10px auto 0;
  }
  
  #nav-bar input[type="text"] {
    min-width: 300px;
    padding: 0.5rem;
    padding-left: 1.25rem;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-right: 0;
  }
  
  #nav-bar input[type="button"] {
    padding: 0.5rem 1.5rem 0.5rem 1rem;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background: yellow;
    color: black;
    margin-left: -5px;
    transition: all 0.1s;
  }
  
  #nav-bar input[type="button"]:hover {
    transform: scale(1.1);
    background: yellow;
    color: black;
    cursor: pointer;
  }
  
  #resultados {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #resultados .contenedor {
    max-width: 70%;
    margin-top: 4.5rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #resultados .contenedor .comida {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin: 0.75rem;
    padding: 1rem;
    transition: all 0.1s ease-in-out;
  }
  
  #resultados .contenedor .comida:hover {
    transform: scale(1.1);
  }
  
  #resultados .contenedor .comida img {
    width: 108px;
    height: 70px;
    margin: 5px;
  }
  
  #resultados .contenedor .comida p {
    margin: 10px;
  }
  
  #resultados .contenedor .comida a {
    text-decoration: none;
    background: yellow;
    color: black;
    padding: 5px 15px;
    border-radius: 25px;
  }
  
  #resultados .contenedor .comida a:hover {
    background: red;
    color: white;
  }
  
  #footer {
    text-align: center;
    color: black;
    margin: 1rem;
  }
  
  #footer a {
    text-decoration: none;
    color: yellow;
  }
  
  #cargando {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #noresult {
    padding: 2rem;
    margin: auto;
    text-align: center;
  }
  
  @media (max-width: 568px) {
    #nav-bar {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    #nav-bar #form {
      margin-top: 5px;
    }
  
    #resultados .contenedor {
      margin-top: 6.75rem;
    }
  
    #nav-bar input[type="text"] {
      min-width: 210px;
      padding-left: 0.7rem;
    }
  
    .container .buscador input[type="text"] {
      min-width: 200px;
    }
  
    #noresult {
      font-size: 0.85rem;
    
    }
  }
   @media (max-width: 568px) {
    #nav-bar {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    #nav-bar #form {
      margin-top: 5px;
    }
  
    #resultados .contenedor {
      margin-top: 6.75rem;
    }
  
    #nav-bar input[type="text"] {
      min-width: 210px;
      padding-left: 0.7rem;
    }
  
    .container .buscador input[type="text"] {
      min-width: 200px;
    }
  
    #noresult {
      font-size: 0.85rem;
    
    }
  }
  
  @media (max-width: 400px) {
  
    .container .buscador input[type="text"] {
      min-width: 190px;
    }
  
    
  }
  