body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
  }
  
  .body-wrap {
    background-color: #fff;
    /* width: 900px;
    min-height: 500px; */
    width: 80%;
    min-height: 600px; 
    margin: 0 auto;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;;
  }
  
  .pres-timeline {
    font-family: 'Poppins', sans-serif;;
    font-size: 18px;
    color: #4A4A4A;
    width: 100%;
    margin: 30px 0;
  }
  .pres-timeline > div > div {
    padding: 1em 0;
    box-sizing: border-box;
  }
  .pres-timeline .periods-container, .pres-timeline .cards-container {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    min-height: 100px;
    transition: height 0.5s ease-in-out;
    background-color: #FFF;
  }
  .periods-container:before {
    background-image: linear-gradient(left, #FFF, rgba(248, 248, 248, 0));
    left: 0;
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 100px;
  }
  .periods-container:after {
    background-image: linear-gradient(right, #FFF, rgba(248, 248, 248, 0));
    right: 0;
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 300px;
  }
  .periods-container .btn-back, .periods-container .btn-next {
    display: inline-block;
    width: 15%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    z-index: 10;
    transition: 0.3s ease-in-out;
  }
  .periods-container .btn-back:hover, .periods-container .btn-next:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .periods-container .btn-back.hide, .periods-container .btn-next.hide {
    display: none;
  }
  .periods-container .btn-back {
    left: 0;
  }
  .periods-container .btn-next {
    right: 0;
  }
  .periods-container section {
    width: 70%;
    height: 0;
    position: absolute;
    margin-left: 15%;
    border-bottom: 5px solid #dfe3e6;
    padding: 1.5em;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out, opacity 0.2s ease, height 0.3s ease;
    bottom: 0;
    opacity: 0;
    background-color: #fff;
  }
  .periods-container section.active {
    height: auto;
    opacity: 1;
    transform: translateX(0);
    z-index: 5;
  }
  .periods-container section.active .title, .periods-container section.active p {
    display: block;
  }
  .periods-container section.prev {
    height: auto;
    opacity: 0.4;
    transform: translateX(-100%);
    z-index: 0;
  }
  .periods-container section.prev .year {
    text-align: center;
  }
  .periods-container section.next {
    height: auto;
    opacity: 0.4;
    transform: translateX(100%);
    z-index: 0;
  }
  .periods-container section .year {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    
  }
  .periods-container section .title {
    
    font-size: 16px;
    font-weight: 100;
    display: none;
  }
  .periods-container section p {
    display: none;
  }
  
  .timeline-container {
    position: relative;
    width: 90%;
    height: 50px;
    overflow: hidden;
  }
  .timeline-container:before {
    background-image: linear-gradient(left, #FFF, rgba(248, 248, 248, 0));
    left: 0;
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 100px;
  }
  .timeline-container:after {
    background-image: linear-gradient(right, #FFF, rgba(248, 248, 248, 0));
    right: 0;
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 100px;
  }
  .timeline-container .timeline {
    position: absolute;
    display: block;
    height: 50px;
    transition: left 0.3s ease-in-out;
  }
  .timeline-container .timeline ol {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #dfe3e6;
    list-style: none;
    padding-left: 210px;
    padding-right: 300px;
  }
  .timeline-container .timeline ol li {
    display: inline-block;
    padding: 5px;
    margin-top: -11px;
    margin-left: 80px;
    border-radius: 50%;
    border: 3px solid #7f9298;
    background-color: #FFF;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .timeline-container .timeline ol li.active {
    box-shadow: none;
  }
  .timeline-container .timeline ol li.active:before {
    content: "";
    display: block;
    height: 25px;
    width: 1px;
    position: absolute;
    top: -25px;
    transition: opacity 0.3s ease-in-out;
  }
  .timeline-container .timeline ol li.active:after {
    content: "";
    display: block;
    height: 25px;
    width: 1px;
    position: absolute;
    bottom: -25px;
    transition: opacity 0.3s ease-in-out;
  }
  .timeline-container .btn-back, .timeline-container .btn-next {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    margin-top: -2px;
    z-index: 11;
    transition: all 0.3s ease;
  }
  .timeline-container .btn-back.hide, .timeline-container .btn-next.hide {
    display: none;
  }
  .timeline-container .btn-back:hover, .timeline-container .btn-next:hover {
    border-color: #7f9298;
  }
  .timeline-container .btn-back {
    left: 1em;
  }
  .timeline-container .btn-next {
    right: 1em;
  }
  
  .cards-container:before {
    background-image: linear-gradient(left, #FFF, rgba(248, 248, 248, 0));
    left: 0;
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 100px;
  }
  .cards-container:after {
    background-image: linear-gradient(right, #FFF, rgba(248, 248, 248, 0));
    right: 0;
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 100px;
  }
  /*
  .cards-container section {
    width: 90%;
    position: absolute;
    margin-left: 10%;
    margin-bottom: 2em;
    border: 1px solid #f5f7f6;
    padding: 1.5em;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    top: 0;
    opacity: 0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
  }*/
  .cards-container section {
    width: 100%;
    position: absolute;
    margin-left: 0%;
    margin-bottom: 2em;
    border: 1px solid #f5f7f6;
    padding: 1em 1em 1em;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out;
    top: 0;
    opacity: 0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 10px 15px rgb(0 0 0 / 15%);
}
  .cards-container section.active {
    height: auto;
    opacity: 1;
    transform: translateX(0);
    z-index: 5;
  }
  .cards-container section.prev {
    height: auto;
    opacity: 0.4;
    transform: translateX(-105%);
    z-index: 0;
  }
  .cards-container section.next {
    height: auto;
    opacity: 0.4;
    transform: translateX(105%);
    z-index: 0;
  }
  .cards-container section .year {
    text-align: center;
    font-size: 20px;
    margin: 0;
    
  }
  .cards-container section .title {
    font-weight: 400;
    text-align: center;
    font-size: 20px;
    margin: 0;
  }
  .cards-container section img {
    width: 100%;
  }

    .media2 {
    width:400px;
    height:280px; 
    }
    
    .qr{
      width: 90%;
    } 
    
  #elementosSeguridad{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  
  
@media (max-width: 900px){

  .cards-container section {
    width: 100%;
    position: absolute;
    margin-left: 0%;
    margin-bottom: 2em;
    border: 1px solid #f5f7f6;
    padding: 0.5em;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    top: 0;
    opacity: 0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 10px 15px rgb(0 0 0 / 15%);
}
}

  @media (max-width: 800px){
    .cards-container section {
      width: 100%;
      margin-left: 0%;
      /* width: 90%;
      margin-left: 5%; */
    }

    .periods-container section .year {
      font-size: 20px;
    }
    #coi {
      width: 300px;
      height: 300px;
    }
    
  }



  @media (max-width: 500px){
    .media2 {
      width: 330px;
      height: 230px;
  }
  
  }
@media (max-width: 400px){
  	.media2 {
    width: 250px;
    height: 160px;
  }
  .cards-container section 	.mediab .btn{
margin: 20px;
  }
  .cards-container section .cinco {
    height: 900px;
  }
 
 
}


@media (max-width: 350px){
  .media2{
    display: none;
  }

  .qr{
    display: none;
  }

  
}
